################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/
/.vs/CopilotSnapshots

# Azurite data
azurite-data/
src/server/insight.webapi/insight.webapi/azurite-data/
/graphify-out/*
