################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/20C560BF0947694098E25267A6445477
/.vs/CopilotSnapshots/6ADA2E796444944B9B27AB172A0A29A4
